<nav class="navbar navbar-custom" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Planets</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= params[:controller] == "users" ? "active" : "" %>">
          <%= link_to "メンバー", :users %>
        </li>
        <li><a href="#">成績表</a></li>
        <li><a href="#">スケジュール</a></li>
        <li><a href="#">掲示板</a></li>
        <li><a href="#">投票</a></li>
        <li><a href="#">出席表</a></li>
        <li><a href="#">リンク</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ログイン", :new_session %></li>
        <li></li>
      </ul>
    </div>
  </div>
</nav>
