.panel-custom {
  border-color: #0072ab;
  a { color: white;}
  p { color: white; text-align: center; margin: 0; }
}
.panel-heading {
  background: -webkit-gradient(linear, left 0%, left 100%, from(#00aaff), to(#0088cc));
  background: -webkit-linear-gradient(top, #00aaff, 0%, #0088cc, 100%);
  background: -moz-linear-gradient(top, #00aaff 0%, #0088cc 100%);
  background: linear-gradient(to bottom, #00aaff 0%, #0088cc 100%);
}
.member {
  width: 184px;
  height: 320px;
  float: left;
  display: block;
  margin: 10px;
  .panel-body .thumbnailBox .noImage {
    width: 152px;
    height: 152px;
    display: table-cell;
    text-align: center;
    font-weight: bold;
    color: white;
    vertical-align: middle;
    background: gray;
  }
  .panel-body .descriptionBox {
    margin-top: 5px;
  }
}
.session {
  width: 300px;
  display: block;
  margin: 0 auto;
  .panel-body {
    a { color: blue; }
    p { margin: 10px 0; }
    label { color: #333; }
  }
}

.label-custom {
  width: 100%;
  background: -webkit-gradient(linear, left 0%, left 100%, from(#00aaff), to(#0088cc));
  background: -webkit-linear-gradient(top, #00aaff, 0%, #0088cc, 100%);
  background: -moz-linear-gradient(top, #00aaff 0%, #0088cc 100%);
  background: linear-gradient(to bottom, #00aaff 0%, #0088cc 100%); 
}

#facebookButton {
  background: -webkit-gradient(linear, left 0%, left 100%, from(#00aaff), to(#0088cc));
  background: -webkit-linear-gradient(top, #00aaff, 0%, #0088cc, 100%);
  background: -moz-linear-gradient(top, #00aaff 0%, #0088cc 100%);
  background: linear-gradient(to bottom, #00aaff 0%, #0088cc 100%); 
}